*__pycache__*
*.egg-info
*.py[cod]
.ipynb_checkpoints/
.pytest/
.pytest_cache/
.vscode/

notebooks/
venv/
data/
runs/
mlruns/
outputs/
scripts/
logs/
notebooks/
*~

.claude/
CLAUDE.md

*.png
*.pdf
*.pt
*.npz
*.npy
*.pdf